/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Color] [nvarchar](450) NULL,
	[IsPhone] [bit] NOT NULL,
	[IsAbsence] [bit] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[IsWorkTime] [bit] NOT NULL,
	[IsBreak] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DisableEdit] [bit] NOT NULL,
	[IsUndefined] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[NeedBackup] [bit] NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Specs] [nvarchar](max) NULL,
	[IsDisabled] [bit] NOT NULL,
	[AssetTypeId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Assets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetTerms]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetTerms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_AssetTerms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetTermValues]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetTermValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Count] [float] NOT NULL,
	[IsOptional] [bit] NOT NULL,
	[AssetTypeId] [int] NOT NULL,
	[AssetTermId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_AssetTermValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetTypes]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_AssetTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceTypes]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NULL,
	[IsAbsence] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DisableEdit] [bit] NOT NULL,
	[Hidden] [bit] NOT NULL,
	[DefaultActivityId] [int] NULL,
 CONSTRAINT [PK_AttendanceTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BkpDailyAttendances]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BkpDailyAttendances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DailyAttendanceId] [int] NOT NULL,
	[Alias] [nvarchar](max) NULL,
	[ActionTime] [datetime2](7) NOT NULL,
	[StaffMemberId] [int] NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[Day] [datetime2](7) NOT NULL,
	[AttendanceTypeId] [int] NOT NULL,
	[TransportationRouteId] [int] NULL,
	[HeadOfSectionId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[SublocationId] [int] NULL,
 CONSTRAINT [PK_BkpDailyAttendances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BkpScheduleDetails]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BkpScheduleDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DailyAttendanceId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[IntervalId] [int] NOT NULL,
	[Duration] [float] NULL,
	[ScheduleId] [int] NOT NULL,
	[BackupStaffId] [int] NULL,
 CONSTRAINT [PK_BkpScheduleDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[breakTypeOptions]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[breakTypeOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffMemberId] [int] NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[AttendenceTypeId] [int] NOT NULL,
	[TransportationRouteId] [int] NULL,
	[IsApproved] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[SublocationId] [int] NOT NULL,
 CONSTRAINT [PK_breakTypeOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colors]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [nvarchar](450) NULL,
	[ColorCode] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_colors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyAttendancePatterns]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyAttendancePatterns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[StaffMemberId] [int] NOT NULL,
	[SublocationId] [int] NOT NULL,
	[TransportationId] [int] NOT NULL,
	[DayOffs] [nvarchar](max) NULL,
 CONSTRAINT [PK_DailyAttendancePatterns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyAttendances]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyAttendances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffMemberId] [int] NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[Day] [datetime2](7) NOT NULL,
	[AttendanceTypeId] [int] NOT NULL,
	[TransportationRouteId] [int] NULL,
	[HeadOfSectionId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[HaveBackup] [bit] NOT NULL,
	[SublocationId] [int] NULL,
 CONSTRAINT [PK_DailyAttendances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dayOffOptions]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dayOffOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffMemberId] [int] NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[DayOne] [nvarchar](max) NULL,
	[DayTwo] [nvarchar](max) NULL,
	[IsApproved] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_dayOffOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForecastDetails]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForecastDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ForecastId] [int] NOT NULL,
	[IntervalId] [int] NOT NULL,
	[DayoffWeek] [nvarchar](max) NULL,
	[EmployeeCount] [int] NOT NULL,
 CONSTRAINT [PK_ForecastDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForecastHistories]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForecastHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day] [datetime2](7) NOT NULL,
	[Offered] [int] NOT NULL,
	[Duration] [float] NOT NULL,
	[IntervalId] [int] NOT NULL,
 CONSTRAINT [PK_ForecastHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForeCastings]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForeCastings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NOT NULL,
	[IntervalId] [int] NOT NULL,
	[Day] [datetime2](7) NOT NULL,
	[EmployeeCount] [int] NOT NULL,
 CONSTRAINT [PK_ForeCastings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forecasts]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forecasts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[DurationTolerance] [float] NOT NULL,
	[OfferedTolerance] [float] NOT NULL,
	[ServiceLevel] [float] NOT NULL,
	[ServiceTime] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[ExceptDates] [nvarchar](max) NULL,
	[IsSaved] [bit] NOT NULL,
 CONSTRAINT [PK_Forecasts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeadOfSections]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeadOfSections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Alias] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Language] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_HeadOfSections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intervals]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intervals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TimeMap] [time](7) NOT NULL,
	[OrderMap] [int] NOT NULL,
	[CoverMap] [int] NOT NULL,
	[Tolerance] [float] NOT NULL,
 CONSTRAINT [PK_Intervals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IpccAgents]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpccAgents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffMemberEmployeeId] [int] NOT NULL,
	[StaffMemberName] [nvarchar](max) NULL,
	[UtcDate] [datetime2](7) NOT NULL,
	[LocalDate] [datetime2](7) NOT NULL,
	[Duration] [int] NOT NULL,
 CONSTRAINT [PK_IpccAgents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[ContactPhone] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleDetail]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DailyAttendanceId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[IntervalId] [int] NOT NULL,
	[Duration] [float] NULL,
	[ScheduleId] [int] NOT NULL,
	[BackupStaffId] [int] NULL,
 CONSTRAINT [PK_ScheduleDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](450) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IsPublish] [bit] NOT NULL,
	[ForecastId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shiftRules]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shiftRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartAfter] [int] NOT NULL,
	[EndBefore] [int] NOT NULL,
	[BreakBetween] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_shiftRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[EarlyStartIntervalId] [int] NULL,
	[LateEndIntervalId] [int] NULL,
	[Duration] [float] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Shifts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffMembers]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[LeaveDate] [datetime2](7) NOT NULL,
	[HireDate] [datetime2](7) NOT NULL,
	[EstimatedLeaveDays] [int] NULL,
	[Religion] [nvarchar](max) NULL,
	[StaffTypeId] [int] NOT NULL,
	[TransportationRouteId] [int] NULL,
	[LocationId] [int] NULL,
	[HeadOfSectionId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[EmployeeId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Alias] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[Email] [nvarchar](450) NULL,
	[Language] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_StaffMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffTypes]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_StaffTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubLocations]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LocationId] [int] NOT NULL,
 CONSTRAINT [PK_SubLocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SwapRequestDetails]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SwapRequestDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SwapRequestId] [int] NOT NULL,
	[InvolvedAlias] [nvarchar](max) NOT NULL,
	[IsApproved] [bit] NULL,
	[IsDeclined] [bit] NULL,
	[Reason] [nvarchar](max) NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[CloseDate] [datetime2](7) NULL,
 CONSTRAINT [PK_SwapRequestDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SwapRequests]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SwapRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NULL,
	[SourceDailyAttendanceId] [int] NULL,
	[DestinationDailyAttendanceId] [int] NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[StatusId] [nvarchar](450) NULL,
	[RequesterAlias] [nvarchar](max) NOT NULL,
	[RequesterName] [nvarchar](max) NULL,
	[ResponderName] [nvarchar](max) NULL,
 CONSTRAINT [PK_SwapRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SwapRequestStatuses]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SwapRequestStatuses](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsComplete] [bit] NOT NULL,
	[IsSuccess] [bit] NOT NULL,
 CONSTRAINT [PK_SwapRequestStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TmpForecastDetails]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpForecastDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TmpForecastId] [int] NOT NULL,
	[IntervalId] [int] NOT NULL,
	[DayoffWeek] [nvarchar](max) NULL,
	[EmployeeCount] [int] NOT NULL,
 CONSTRAINT [PK_TmpForecastDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TmpScheduleDetails]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpScheduleDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DailyAttendanceId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
	[IntervalId] [int] NOT NULL,
	[Duration] [float] NOT NULL,
 CONSTRAINT [PK_TmpScheduleDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransportationRoutes]    Script Date: 10/1/2023 11:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportationRoutes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SubLocationId] [int] NULL,
	[ArriveIntervalId] [int] NOT NULL,
	[DepartIntervalId] [int] NULL,
	[IsIgnored] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TransportationRoutes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221127120851_initial', N'5.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221129090212_sublocation', N'5.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221129091117_newdatabase', N'5.0.9')
GO
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([Id], [Name], [Color], [IsPhone], [IsAbsence], [IsPaid], [IsWorkTime], [IsBreak], [IsDeleted], [DisableEdit], [IsUndefined], [CreatedBy], [NeedBackup], [CreateDate], [UpdatedBy], [UpdateDate]) VALUES (35, N'Phone', N'#4caf50', 1, 0, 1, 1, 0, 0, 1, 0, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[Activities] ([Id], [Name], [Color], [IsPhone], [IsAbsence], [IsPaid], [IsWorkTime], [IsBreak], [IsDeleted], [DisableEdit], [IsUndefined], [CreatedBy], [NeedBackup], [CreateDate], [UpdatedBy], [UpdateDate]) VALUES (36, N'Break', N'#ff0000', 0, 0, 1, 0, 1, 0, 1, 0, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[Activities] ([Id], [Name], [Color], [IsPhone], [IsAbsence], [IsPaid], [IsWorkTime], [IsBreak], [IsDeleted], [DisableEdit], [IsUndefined], [CreatedBy], [NeedBackup], [CreateDate], [UpdatedBy], [UpdateDate]) VALUES (37, N'Day Off', N'#b05dbb', 0, 1, 1, 0, 0, 0, 0, 0, NULL, 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Activities] OFF
GO
SET IDENTITY_INSERT [dbo].[AttendanceTypes] ON 

INSERT [dbo].[AttendanceTypes] ([Id], [Name], [IsAbsence], [IsDeleted], [DisableEdit], [Hidden], [DefaultActivityId]) VALUES (1, N'Attendance', 0, 0, 1, 1, 35)
INSERT [dbo].[AttendanceTypes] ([Id], [Name], [IsAbsence], [IsDeleted], [DisableEdit], [Hidden], [DefaultActivityId]) VALUES (2, N'Day-Off', 1, 0, 1, 0, 37)
SET IDENTITY_INSERT [dbo].[AttendanceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[BkpDailyAttendances] ON 

INSERT [dbo].[BkpDailyAttendances] ([Id], [DailyAttendanceId], [Alias], [ActionTime], [StaffMemberId], [ScheduleId], [Day], [AttendanceTypeId], [TransportationRouteId], [HeadOfSectionId], [IsDeleted], [SublocationId]) VALUES (1, 20727, N'AmrDaoud', CAST(N'2022-12-16T18:30:35.0625964' AS DateTime2), 246, 3, CAST(N'2023-01-03T00:00:00.0000000' AS DateTime2), 1, 17, 16, 0, 8)
INSERT [dbo].[BkpDailyAttendances] ([Id], [DailyAttendanceId], [Alias], [ActionTime], [StaffMemberId], [ScheduleId], [Day], [AttendanceTypeId], [TransportationRouteId], [HeadOfSectionId], [IsDeleted], [SublocationId]) VALUES (2, 20727, N'AmrDaoud', CAST(N'2022-12-16T18:31:24.3114172' AS DateTime2), 246, 3, CAST(N'2023-01-03T00:00:00.0000000' AS DateTime2), 2, 17, 16, 0, 8)
INSERT [dbo].[BkpDailyAttendances] ([Id], [DailyAttendanceId], [Alias], [ActionTime], [StaffMemberId], [ScheduleId], [Day], [AttendanceTypeId], [TransportationRouteId], [HeadOfSectionId], [IsDeleted], [SublocationId]) VALUES (3, 20727, N'AmrDaoud', CAST(N'2022-12-16T18:35:22.3595512' AS DateTime2), 246, 3, CAST(N'2023-01-03T00:00:00.0000000' AS DateTime2), 1, 17, 16, 0, 8)
SET IDENTITY_INSERT [dbo].[BkpDailyAttendances] OFF
GO
SET IDENTITY_INSERT [dbo].[BkpScheduleDetails] ON 

INSERT [dbo].[BkpScheduleDetails] ([Id], [DailyAttendanceId], [ActivityId], [IntervalId], [Duration], [ScheduleId], [BackupStaffId]) VALUES (1, 1, 35, 56, NULL, 3, NULL)
INSERT [dbo].[BkpScheduleDetails] ([Id], [DailyAttendanceId], [ActivityId], [IntervalId], [Duration], [ScheduleId], [BackupStaffId]) VALUES (2, 1, 35, 35, NULL, 3, NULL)
INSERT [dbo].[BkpScheduleDetails] ([Id], [DailyAttendanceId], [ActivityId], [IntervalId], [Duration], [ScheduleId], [BackupStaffId]) VALUES (3, 1, 35, 36, NULL, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[BkpScheduleDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Forecasts] ON 

INSERT [dbo].[Forecasts] ([Id], [Name], [DurationTolerance], [OfferedTolerance], [ServiceLevel], [ServiceTime], [StartDate], [EndDate], [ExceptDates], [IsSaved]) VALUES (1, N'Default', 0, 0, 0, 0, CAST(N'2020-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2022-01-01T00:00:00.0000000' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[Forecasts] OFF
GO
SET IDENTITY_INSERT [dbo].[HeadOfSections] ON 

INSERT [dbo].[HeadOfSections] ([Id], [EmployeeId], [Name], [Alias], [Gender], [Email], [Language], [Address], [Note], [IsDeleted]) VALUES (1, 3546, N'Issa Ebrahim Abou Issa', N'ISSAA', N'M', N'Issa.AbouIssa@syriatel.net', N'EN', N'اللاذقية - جبلة - جبلة - بسيسين- مقابل المدرسة - قرب الجامع', N'', 0)
INSERT [dbo].[HeadOfSections] ([Id], [EmployeeId], [Name], [Alias], [Gender], [Email], [Language], [Address], [Note], [IsDeleted]) VALUES (2, 3550, N'Mahran Kaser Omran', N'MAHRANO', N'M', N'Mahran.Omran@syriatel.net', N'EN', N'دمشق - دمشق - مشروع دمر - مساكن الحرس الجمهوري-حي الورود-صيدلية الخضر-سكن عشوائي-', N'', 0)
INSERT [dbo].[HeadOfSections] ([Id], [EmployeeId], [Name], [Alias], [Gender], [Email], [Language], [Address], [Note], [IsDeleted]) VALUES (3, 3556, N'Sharif Jamil Terfeh', N'SHARIFT', N'M', N'Sharif.Terfeh@syriatel.net', N'EN', N'اللاذقية - اللاذقية - الرمل الشمالي - - خلف دائرة الإمتحانات -بيت عربي', N'', 0)
SET IDENTITY_INSERT [dbo].[HeadOfSections] OFF
GO
SET IDENTITY_INSERT [dbo].[Intervals] ON 

INSERT [dbo].[Intervals] ([Id], [TimeMap], [OrderMap], [CoverMap], [Tolerance]) VALUES (1, CAST(N'00:00:00' AS Time), 0, 0, 0.1)
INSERT [dbo].[Intervals] ([Id], [TimeMap], [OrderMap], [CoverMap], [Tolerance]) VALUES (2, CAST(N'00:15:00' AS Time), 1, 1, 0.3)
INSERT [dbo].[Intervals] ([Id], [TimeMap], [OrderMap], [CoverMap], [Tolerance]) VALUES (3, CAST(N'00:30:00' AS Time), 2, 2, 0.6)
GO
SET IDENTITY_INSERT [dbo].[Intervals] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Id], [Name], [Address], [ContactPhone], [IsDeleted]) VALUES (1, N'Damascus -Sahnaya ', N'', N'', 0)
INSERT [dbo].[Locations] ([Id], [Name], [Address], [ContactPhone], [IsDeleted]) VALUES (2, N'Damascus -West Damascus ', N'', N'', 0)
INSERT [dbo].[Locations] ([Id], [Name], [Address], [ContactPhone], [IsDeleted]) VALUES (3, N'Damascus Kessweh WHs ', N'', N'', 0)
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[shiftRules] ON 

INSERT [dbo].[shiftRules] ([Id], [StartAfter], [EndBefore], [BreakBetween], [IsDeleted]) VALUES (1, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[shiftRules] OFF
GO
SET IDENTITY_INSERT [dbo].[StaffMembers] ON 

GO
SET IDENTITY_INSERT [dbo].[StaffMembers] OFF
GO
SET IDENTITY_INSERT [dbo].[StaffTypes] ON 

INSERT [dbo].[StaffTypes] ([Id], [Name], [Description], [IsDeleted]) VALUES (1, N'Security Monitoring Staff', N'Security Monitoring Staff', 0)
INSERT [dbo].[StaffTypes] ([Id], [Name], [Description], [IsDeleted]) VALUES (2, N'Guard', N'Guard', 0)
INSERT [dbo].[StaffTypes] ([Id], [Name], [Description], [IsDeleted]) VALUES (3, N'Security Support Staff', N'Security Support Staff', 0)
SET IDENTITY_INSERT [dbo].[StaffTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[SubLocations] ON 

INSERT [dbo].[SubLocations] ([Id], [Name], [LocationId]) VALUES (1, N'Sahnaya entry car 1', 1)
INSERT [dbo].[SubLocations] ([Id], [Name], [LocationId]) VALUES (2, N'Sahnaya entry car 2', 1)
INSERT [dbo].[SubLocations] ([Id], [Name], [LocationId]) VALUES (3, N'Sahnaya exit car 1', 1)
SET IDENTITY_INSERT [dbo].[SubLocations] OFF
GO
SET IDENTITY_INSERT [dbo].[TransportationRoutes] ON 

INSERT [dbo].[TransportationRoutes] ([Id], [Name], [Description], [SubLocationId], [ArriveIntervalId], [DepartIntervalId], [IsIgnored], [IsDeleted]) VALUES (7, N'07:00_06:45', NULL, NULL, 29, 124, 0, 0)
INSERT [dbo].[TransportationRoutes] ([Id], [Name], [Description], [SubLocationId], [ArriveIntervalId], [DepartIntervalId], [IsIgnored], [IsDeleted]) VALUES (8, N'07:00_18:45', NULL, NULL, 29, 76, 0, 0)
INSERT [dbo].[TransportationRoutes] ([Id], [Name], [Description], [SubLocationId], [ArriveIntervalId], [DepartIntervalId], [IsIgnored], [IsDeleted]) VALUES (9, N'19:00_06:45', NULL, NULL, 77, 124, 0, 0)
SET IDENTITY_INSERT [dbo].[TransportationRoutes] OFF
GO
ALTER TABLE [dbo].[breakTypeOptions] ADD  DEFAULT ((0)) FOR [SublocationId]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_AssetTypes_AssetTypeId] FOREIGN KEY([AssetTypeId])
REFERENCES [dbo].[AssetTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_AssetTypes_AssetTypeId]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Locations_LocationId]
GO
ALTER TABLE [dbo].[AssetTermValues]  WITH CHECK ADD  CONSTRAINT [FK_AssetTermValues_AssetTerms_AssetTermId] FOREIGN KEY([AssetTermId])
REFERENCES [dbo].[AssetTerms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssetTermValues] CHECK CONSTRAINT [FK_AssetTermValues_AssetTerms_AssetTermId]
GO
ALTER TABLE [dbo].[AssetTermValues]  WITH CHECK ADD  CONSTRAINT [FK_AssetTermValues_AssetTypes_AssetTypeId] FOREIGN KEY([AssetTypeId])
REFERENCES [dbo].[AssetTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssetTermValues] CHECK CONSTRAINT [FK_AssetTermValues_AssetTypes_AssetTypeId]
GO
ALTER TABLE [dbo].[AttendanceTypes]  WITH CHECK ADD  CONSTRAINT [FK_AttendanceTypes_Activities_DefaultActivityId] FOREIGN KEY([DefaultActivityId])
REFERENCES [dbo].[Activities] ([Id])
GO
ALTER TABLE [dbo].[AttendanceTypes] CHECK CONSTRAINT [FK_AttendanceTypes_Activities_DefaultActivityId]
GO
ALTER TABLE [dbo].[BkpDailyAttendances]  WITH CHECK ADD  CONSTRAINT [FK_BkpDailyAttendances_AttendanceTypes_AttendanceTypeId] FOREIGN KEY([AttendanceTypeId])
REFERENCES [dbo].[AttendanceTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BkpDailyAttendances] CHECK CONSTRAINT [FK_BkpDailyAttendances_AttendanceTypes_AttendanceTypeId]
GO
ALTER TABLE [dbo].[BkpScheduleDetails]  WITH CHECK ADD  CONSTRAINT [FK_BkpScheduleDetails_Activities_ActivityId] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[Activities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BkpScheduleDetails] CHECK CONSTRAINT [FK_BkpScheduleDetails_Activities_ActivityId]
GO
ALTER TABLE [dbo].[BkpScheduleDetails]  WITH CHECK ADD  CONSTRAINT [FK_BkpScheduleDetails_BkpDailyAttendances_DailyAttendanceId] FOREIGN KEY([DailyAttendanceId])
REFERENCES [dbo].[BkpDailyAttendances] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BkpScheduleDetails] CHECK CONSTRAINT [FK_BkpScheduleDetails_BkpDailyAttendances_DailyAttendanceId]
GO
ALTER TABLE [dbo].[BkpScheduleDetails]  WITH CHECK ADD  CONSTRAINT [FK_BkpScheduleDetails_Intervals_IntervalId] FOREIGN KEY([IntervalId])
REFERENCES [dbo].[Intervals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BkpScheduleDetails] CHECK CONSTRAINT [FK_BkpScheduleDetails_Intervals_IntervalId]
GO
ALTER TABLE [dbo].[BkpScheduleDetails]  WITH CHECK ADD  CONSTRAINT [FK_BkpScheduleDetails_StaffMembers_BackupStaffId] FOREIGN KEY([BackupStaffId])
REFERENCES [dbo].[StaffMembers] ([Id])
GO
ALTER TABLE [dbo].[BkpScheduleDetails] CHECK CONSTRAINT [FK_BkpScheduleDetails_StaffMembers_BackupStaffId]
GO
ALTER TABLE [dbo].[breakTypeOptions]  WITH CHECK ADD  CONSTRAINT [FK_breakTypeOptions_AttendanceTypes_AttendenceTypeId] FOREIGN KEY([AttendenceTypeId])
REFERENCES [dbo].[AttendanceTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[breakTypeOptions] CHECK CONSTRAINT [FK_breakTypeOptions_AttendanceTypes_AttendenceTypeId]
GO
ALTER TABLE [dbo].[breakTypeOptions]  WITH CHECK ADD  CONSTRAINT [FK_breakTypeOptions_Schedules_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[breakTypeOptions] CHECK CONSTRAINT [FK_breakTypeOptions_Schedules_ScheduleId]
GO
ALTER TABLE [dbo].[breakTypeOptions]  WITH CHECK ADD  CONSTRAINT [FK_breakTypeOptions_StaffMembers_StaffMemberId] FOREIGN KEY([StaffMemberId])
REFERENCES [dbo].[StaffMembers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[breakTypeOptions] CHECK CONSTRAINT [FK_breakTypeOptions_StaffMembers_StaffMemberId]
GO
ALTER TABLE [dbo].[breakTypeOptions]  WITH CHECK ADD  CONSTRAINT [FK_breakTypeOptions_SubLocations_SublocationId] FOREIGN KEY([SublocationId])
REFERENCES [dbo].[SubLocations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[breakTypeOptions] CHECK CONSTRAINT [FK_breakTypeOptions_SubLocations_SublocationId]
GO
ALTER TABLE [dbo].[breakTypeOptions]  WITH CHECK ADD  CONSTRAINT [FK_breakTypeOptions_TransportationRoutes_TransportationRouteId] FOREIGN KEY([TransportationRouteId])
REFERENCES [dbo].[TransportationRoutes] ([Id])
GO
ALTER TABLE [dbo].[breakTypeOptions] CHECK CONSTRAINT [FK_breakTypeOptions_TransportationRoutes_TransportationRouteId]
GO
ALTER TABLE [dbo].[DailyAttendancePatterns]  WITH CHECK ADD  CONSTRAINT [FK_DailyAttendancePatterns_Schedules_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyAttendancePatterns] CHECK CONSTRAINT [FK_DailyAttendancePatterns_Schedules_ScheduleId]
GO
ALTER TABLE [dbo].[DailyAttendancePatterns]  WITH CHECK ADD  CONSTRAINT [FK_DailyAttendancePatterns_StaffMembers_StaffMemberId] FOREIGN KEY([StaffMemberId])
REFERENCES [dbo].[StaffMembers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyAttendancePatterns] CHECK CONSTRAINT [FK_DailyAttendancePatterns_StaffMembers_StaffMemberId]
GO
ALTER TABLE [dbo].[DailyAttendancePatterns]  WITH CHECK ADD  CONSTRAINT [FK_DailyAttendancePatterns_SubLocations_SublocationId] FOREIGN KEY([SublocationId])
REFERENCES [dbo].[SubLocations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyAttendancePatterns] CHECK CONSTRAINT [FK_DailyAttendancePatterns_SubLocations_SublocationId]
GO
ALTER TABLE [dbo].[DailyAttendancePatterns]  WITH CHECK ADD  CONSTRAINT [FK_DailyAttendancePatterns_TransportationRoutes_TransportationId] FOREIGN KEY([TransportationId])
REFERENCES [dbo].[TransportationRoutes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyAttendancePatterns] CHECK CONSTRAINT [FK_DailyAttendancePatterns_TransportationRoutes_TransportationId]
GO
ALTER TABLE [dbo].[DailyAttendances]  WITH CHECK ADD  CONSTRAINT [FK_DailyAttendances_AttendanceTypes_AttendanceTypeId] FOREIGN KEY([AttendanceTypeId])
REFERENCES [dbo].[AttendanceTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyAttendances] CHECK CONSTRAINT [FK_DailyAttendances_AttendanceTypes_AttendanceTypeId]
GO
ALTER TABLE [dbo].[DailyAttendances]  WITH CHECK ADD  CONSTRAINT [FK_DailyAttendances_HeadOfSections_HeadOfSectionId] FOREIGN KEY([HeadOfSectionId])
REFERENCES [dbo].[HeadOfSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyAttendances] CHECK CONSTRAINT [FK_DailyAttendances_HeadOfSections_HeadOfSectionId]
GO
ALTER TABLE [dbo].[DailyAttendances]  WITH CHECK ADD  CONSTRAINT [FK_DailyAttendances_Schedules_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyAttendances] CHECK CONSTRAINT [FK_DailyAttendances_Schedules_ScheduleId]
GO
ALTER TABLE [dbo].[DailyAttendances]  WITH CHECK ADD  CONSTRAINT [FK_DailyAttendances_StaffMembers_StaffMemberId] FOREIGN KEY([StaffMemberId])
REFERENCES [dbo].[StaffMembers] ([Id])
GO
ALTER TABLE [dbo].[DailyAttendances] CHECK CONSTRAINT [FK_DailyAttendances_StaffMembers_StaffMemberId]
GO
ALTER TABLE [dbo].[DailyAttendances]  WITH CHECK ADD  CONSTRAINT [FK_DailyAttendances_SubLocations_SublocationId] FOREIGN KEY([SublocationId])
REFERENCES [dbo].[SubLocations] ([Id])
GO
ALTER TABLE [dbo].[DailyAttendances] CHECK CONSTRAINT [FK_DailyAttendances_SubLocations_SublocationId]
GO
ALTER TABLE [dbo].[DailyAttendances]  WITH CHECK ADD  CONSTRAINT [FK_DailyAttendances_TransportationRoutes_TransportationRouteId] FOREIGN KEY([TransportationRouteId])
REFERENCES [dbo].[TransportationRoutes] ([Id])
GO
ALTER TABLE [dbo].[DailyAttendances] CHECK CONSTRAINT [FK_DailyAttendances_TransportationRoutes_TransportationRouteId]
GO
ALTER TABLE [dbo].[dayOffOptions]  WITH CHECK ADD  CONSTRAINT [FK_dayOffOptions_Schedules_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dayOffOptions] CHECK CONSTRAINT [FK_dayOffOptions_Schedules_ScheduleId]
GO
ALTER TABLE [dbo].[dayOffOptions]  WITH CHECK ADD  CONSTRAINT [FK_dayOffOptions_StaffMembers_StaffMemberId] FOREIGN KEY([StaffMemberId])
REFERENCES [dbo].[StaffMembers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dayOffOptions] CHECK CONSTRAINT [FK_dayOffOptions_StaffMembers_StaffMemberId]
GO
ALTER TABLE [dbo].[ForecastDetails]  WITH CHECK ADD  CONSTRAINT [FK_ForecastDetails_Forecasts_ForecastId] FOREIGN KEY([ForecastId])
REFERENCES [dbo].[Forecasts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ForecastDetails] CHECK CONSTRAINT [FK_ForecastDetails_Forecasts_ForecastId]
GO
ALTER TABLE [dbo].[ForecastDetails]  WITH CHECK ADD  CONSTRAINT [FK_ForecastDetails_Intervals_IntervalId] FOREIGN KEY([IntervalId])
REFERENCES [dbo].[Intervals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ForecastDetails] CHECK CONSTRAINT [FK_ForecastDetails_Intervals_IntervalId]
GO
ALTER TABLE [dbo].[ForecastHistories]  WITH CHECK ADD  CONSTRAINT [FK_ForecastHistories_Intervals_IntervalId] FOREIGN KEY([IntervalId])
REFERENCES [dbo].[Intervals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ForecastHistories] CHECK CONSTRAINT [FK_ForecastHistories_Intervals_IntervalId]
GO
ALTER TABLE [dbo].[ForeCastings]  WITH CHECK ADD  CONSTRAINT [FK_ForeCastings_Intervals_IntervalId] FOREIGN KEY([IntervalId])
REFERENCES [dbo].[Intervals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ForeCastings] CHECK CONSTRAINT [FK_ForeCastings_Intervals_IntervalId]
GO
ALTER TABLE [dbo].[ForeCastings]  WITH CHECK ADD  CONSTRAINT [FK_ForeCastings_Schedules_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ForeCastings] CHECK CONSTRAINT [FK_ForeCastings_Schedules_ScheduleId]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDetail_Activities_ActivityId] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[Activities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [FK_ScheduleDetail_Activities_ActivityId]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDetail_DailyAttendances_DailyAttendanceId] FOREIGN KEY([DailyAttendanceId])
REFERENCES [dbo].[DailyAttendances] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [FK_ScheduleDetail_DailyAttendances_DailyAttendanceId]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDetail_Intervals_IntervalId] FOREIGN KEY([IntervalId])
REFERENCES [dbo].[Intervals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [FK_ScheduleDetail_Intervals_IntervalId]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDetail_Schedules_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [FK_ScheduleDetail_Schedules_ScheduleId]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDetail_StaffMembers_BackupStaffId] FOREIGN KEY([BackupStaffId])
REFERENCES [dbo].[StaffMembers] ([Id])
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [FK_ScheduleDetail_StaffMembers_BackupStaffId]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_Intervals_EarlyStartIntervalId] FOREIGN KEY([EarlyStartIntervalId])
REFERENCES [dbo].[Intervals] ([Id])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_Intervals_EarlyStartIntervalId]
GO
ALTER TABLE [dbo].[Shifts]  WITH CHECK ADD  CONSTRAINT [FK_Shifts_Intervals_LateEndIntervalId] FOREIGN KEY([LateEndIntervalId])
REFERENCES [dbo].[Intervals] ([Id])
GO
ALTER TABLE [dbo].[Shifts] CHECK CONSTRAINT [FK_Shifts_Intervals_LateEndIntervalId]
GO
ALTER TABLE [dbo].[StaffMembers]  WITH CHECK ADD  CONSTRAINT [FK_StaffMembers_HeadOfSections_HeadOfSectionId] FOREIGN KEY([HeadOfSectionId])
REFERENCES [dbo].[HeadOfSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffMembers] CHECK CONSTRAINT [FK_StaffMembers_HeadOfSections_HeadOfSectionId]
GO
ALTER TABLE [dbo].[StaffMembers]  WITH CHECK ADD  CONSTRAINT [FK_StaffMembers_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[StaffMembers] CHECK CONSTRAINT [FK_StaffMembers_Locations_LocationId]
GO
ALTER TABLE [dbo].[StaffMembers]  WITH CHECK ADD  CONSTRAINT [FK_StaffMembers_StaffTypes_StaffTypeId] FOREIGN KEY([StaffTypeId])
REFERENCES [dbo].[StaffTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StaffMembers] CHECK CONSTRAINT [FK_StaffMembers_StaffTypes_StaffTypeId]
GO
ALTER TABLE [dbo].[StaffMembers]  WITH CHECK ADD  CONSTRAINT [FK_StaffMembers_TransportationRoutes_TransportationRouteId] FOREIGN KEY([TransportationRouteId])
REFERENCES [dbo].[TransportationRoutes] ([Id])
GO
ALTER TABLE [dbo].[StaffMembers] CHECK CONSTRAINT [FK_StaffMembers_TransportationRoutes_TransportationRouteId]
GO
ALTER TABLE [dbo].[SubLocations]  WITH CHECK ADD  CONSTRAINT [FK_SubLocations_Locations_LocationId] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubLocations] CHECK CONSTRAINT [FK_SubLocations_Locations_LocationId]
GO
ALTER TABLE [dbo].[SwapRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_SwapRequestDetails_SwapRequests_SwapRequestId] FOREIGN KEY([SwapRequestId])
REFERENCES [dbo].[SwapRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SwapRequestDetails] CHECK CONSTRAINT [FK_SwapRequestDetails_SwapRequests_SwapRequestId]
GO
ALTER TABLE [dbo].[SwapRequests]  WITH CHECK ADD  CONSTRAINT [FK_SwapRequests_DailyAttendances_DestinationDailyAttendanceId] FOREIGN KEY([DestinationDailyAttendanceId])
REFERENCES [dbo].[DailyAttendances] ([Id])
GO
ALTER TABLE [dbo].[SwapRequests] CHECK CONSTRAINT [FK_SwapRequests_DailyAttendances_DestinationDailyAttendanceId]
GO
ALTER TABLE [dbo].[SwapRequests]  WITH CHECK ADD  CONSTRAINT [FK_SwapRequests_DailyAttendances_SourceDailyAttendanceId] FOREIGN KEY([SourceDailyAttendanceId])
REFERENCES [dbo].[DailyAttendances] ([Id])
GO
ALTER TABLE [dbo].[SwapRequests] CHECK CONSTRAINT [FK_SwapRequests_DailyAttendances_SourceDailyAttendanceId]
GO
ALTER TABLE [dbo].[SwapRequests]  WITH CHECK ADD  CONSTRAINT [FK_SwapRequests_Schedules_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[Schedules] ([Id])
GO
ALTER TABLE [dbo].[SwapRequests] CHECK CONSTRAINT [FK_SwapRequests_Schedules_ScheduleId]
GO
ALTER TABLE [dbo].[SwapRequests]  WITH CHECK ADD  CONSTRAINT [FK_SwapRequests_SwapRequestStatuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[SwapRequestStatuses] ([Id])
GO
ALTER TABLE [dbo].[SwapRequests] CHECK CONSTRAINT [FK_SwapRequests_SwapRequestStatuses_StatusId]
GO
ALTER TABLE [dbo].[TmpForecastDetails]  WITH CHECK ADD  CONSTRAINT [FK_TmpForecastDetails_Intervals_IntervalId] FOREIGN KEY([IntervalId])
REFERENCES [dbo].[Intervals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TmpForecastDetails] CHECK CONSTRAINT [FK_TmpForecastDetails_Intervals_IntervalId]
GO
ALTER TABLE [dbo].[TmpScheduleDetails]  WITH CHECK ADD  CONSTRAINT [FK_TmpScheduleDetails_Activities_ActivityId] FOREIGN KEY([ActivityId])
REFERENCES [dbo].[Activities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TmpScheduleDetails] CHECK CONSTRAINT [FK_TmpScheduleDetails_Activities_ActivityId]
GO
ALTER TABLE [dbo].[TmpScheduleDetails]  WITH CHECK ADD  CONSTRAINT [FK_TmpScheduleDetails_DailyAttendances_DailyAttendanceId] FOREIGN KEY([DailyAttendanceId])
REFERENCES [dbo].[DailyAttendances] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TmpScheduleDetails] CHECK CONSTRAINT [FK_TmpScheduleDetails_DailyAttendances_DailyAttendanceId]
GO
ALTER TABLE [dbo].[TmpScheduleDetails]  WITH CHECK ADD  CONSTRAINT [FK_TmpScheduleDetails_Intervals_IntervalId] FOREIGN KEY([IntervalId])
REFERENCES [dbo].[Intervals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TmpScheduleDetails] CHECK CONSTRAINT [FK_TmpScheduleDetails_Intervals_IntervalId]
GO
ALTER TABLE [dbo].[TransportationRoutes]  WITH CHECK ADD  CONSTRAINT [FK_TransportationRoutes_Intervals_ArriveIntervalId] FOREIGN KEY([ArriveIntervalId])
REFERENCES [dbo].[Intervals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransportationRoutes] CHECK CONSTRAINT [FK_TransportationRoutes_Intervals_ArriveIntervalId]
GO
ALTER TABLE [dbo].[TransportationRoutes]  WITH CHECK ADD  CONSTRAINT [FK_TransportationRoutes_Intervals_DepartIntervalId] FOREIGN KEY([DepartIntervalId])
REFERENCES [dbo].[Intervals] ([Id])
GO
ALTER TABLE [dbo].[TransportationRoutes] CHECK CONSTRAINT [FK_TransportationRoutes_Intervals_DepartIntervalId]
GO
ALTER TABLE [dbo].[TransportationRoutes]  WITH CHECK ADD  CONSTRAINT [FK_TransportationRoutes_SubLocations_SubLocationId] FOREIGN KEY([SubLocationId])
REFERENCES [dbo].[SubLocations] ([Id])
GO
ALTER TABLE [dbo].[TransportationRoutes] CHECK CONSTRAINT [FK_TransportationRoutes_SubLocations_SubLocationId]
GO
